:root{
    --dark-mode: #202124;
    --light-mode: #eaeae8;
}

*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    list-style-type: none;
    text-decoration: none;
}

section{
    width: 100%;
    margin-top: 5rem;
}

#gallery{
    width: 80%;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;
}

#gallery div{
    height: 250px;
}

#gallery img{
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: 0% 0%;

    transition: all, .2s;
}

#gallery div img:hover{
    border: 1px solid black;
    box-shadow: 10px 10px 30px black ;
}




